# Data Preprocessing

In [1]:
import pandas as pd
volunteer = pd.read_csv('Downloads/volunteer_opportunities.csv')
volunteer.shape

(665, 35)

In [2]:
volunteer.dropna(axis=1, thresh =3).shape

(665, 24)

In [3]:
print(volunteer['category_desc'].isnull().sum())

48

In [4]:
volunteer_subset = volunteer[volunteer['category_desc'].notnull()]
volunteer_subset

,opportunity_id,content_id,vol_requests,event_time,title,hits,summary,is_priority,category_id,category_desc,...,end_date_date,status,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
1,5008,37036,2,0,Web designer,22,Build a website for an Afghan business,NaN,1.0,Strengthening Communities,...,February 01 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5016,37143,20,0,Urban Adventures - Ice Skating at Lasker Rink,62,Please join us and the students from Mott Hall...,NaN,1.0,Strengthening Communities,...,January 29 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5022,37237,500,0,Fight global hunger and support women farmers ...,14,The Oxfam Action Corps is a group of dedicated...,NaN,1.0,Strengthening Communities,...,March 31 2012,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5055,37425,15,0,Stop 'N' Swap,31,Stop 'N' Swap reduces NYC's waste by finding n...,NaN,4.0,Environment,...,February 05 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5056,37426,15,0,Queens Stop 'N' Swap,135,Stop 'N' Swap reduces NYC's waste by finding n...,NaN,4.0,Environment,...,February 12 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,5640,50193,3,0,Volunteer for NYLAG's Food Stamps Project,197,"Volunteers needed to file for fair hearings, d...",NaN,2.0,Helping Neighbors in Need,...,November 15 2012,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
661,5218,38711,10,0,Iridescent Science Studio Open House Volunteers,113,Come out to the South Bronx to help us hold ou...,NaN,1.0,Strengthening Communities,...,April 13 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
662,5541,47820,1,0,French Translator,145,Volunteer needed to translate written material...,NaN,2.0,Helping Neighbors in Need,...,September 01 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663,5398,40722,2,0,Marketing & Advertising Volunteer,330,World Cares Center is looking for individuals ...,NaN,1.0,Strengthening Communities,...,May 31 2012,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664,5507,44303,5,0,Volunteer filmmakers to help Mayor's Office wi...,304,"Attention all filmmakers, producers, and edito...",NaN,1.0,Strengthening Communities,...,October 06 2012,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
set(volunteer.dtypes.values)

{dtype('int64'), dtype('float64'), dtype('O')}

In [6]:
volunteer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665 entries, 0 to 664
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   opportunity_id      665 non-null    int64
 1   content_id          665 non-null    int64
 2   vol_requests        665 non-null    int64
 3   event_time          665 non-null    int64
 4   title               665 non-null    object
 5   hits                665 non-null    int64
 6   summary             665 non-null    object
 7   is_priority         62 non-null     object
 8   category_id         617 non-null    float64
 9   category_desc       617 non-null    object
 10  amsl                0 non-null      float64
 11  amsl_unit           0 non-null      float64
 12  org_title           665 non-null    object
 13  org_content_id      665 non-null    int64
 14  addresses_count     665 non-null    int64
 15  locality            595 non-null    object
 16  region              665 non-null    object
 17  postalcode          659 non-null    float64
 18  primary_loc         0 non-null      float64
 19  display_url         665 non-null    object
 20  recurrence_type     665 non-null    object
 21  hours               665 non-null    int64
 22  created_date        665 non-null    object
 23  last_modified_date  665 non-null    object
 24  start_date_date     665 non-null    object
 25  end_date_date       665 non-null    object
 26  status              665 non-null    object
 27  Latitude            0 non-null      float64
 28  Longitude           0 non-null      float64
 29  Community Board     0 non-null      float64
 30  Community Council   0 non-null      float64
 31  Census Tract        0 non-null      float64
 32  BIN                 0 non-null      float64
 33  BBL                 0 non-null      float64
 34  NTA                 0 non-null      float64
dtypes: float64(13), int64(8), object(14)
memory usage: 182.0+ KB

In [7]:
volunteer['hits'].dtype

dtype('int64')

In [8]:
volunteer['last_modified_date'].dtype

dtype('O')

In [9]:
volunteer_subset.category_desc.value_counts()

Strengthening Communities    307
Helping Neighbors in Need    119
Education                     92
Health                        52
Environment                   32
Emergency Preparedness        15
Name: category_desc, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

# Create a data with all columns except category_desc
volunteer_X = volunteer_subset.drop('category_desc', axis = 1)
# Create a separate dataset including category_desc
volunteer_y = volunteer_subset[['category_desc']]
# Use stratified sampling to split the dataset accoring to the volunteer_y dataset
X_train, X_test, y_train, y_test = train_test_split(volunteer_X, volunteer_y, stratify = volunteer_y)


# Print out the category_desc counts on the training y labels
print(y_train['category_desc'].value_counts())

Strengthening Communities    230
Helping Neighbors in Need     89
Education                     69
Health                        39
Environment                   24
Emergency Preparedness        11
Name: category_desc, dtype: int64

# Standardization

In [15]:
wine = pd.read_csv('Downloads/wine_types.csv')
wine.head()

,Type,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [16]:
wine.var()

Type                                0.600679
Alcohol                             0.659062
Malic acid                          1.248015
Ash                                 0.075265
Alcalinity of ash                  11.152686
Magnesium                         203.989335
Total phenols                       0.391690
Flavanoids                          0.997719
Nonflavanoid phenols                0.015489
Proanthocyanins                     0.327595
Color intensity                     5.374449
Hue                                 0.052245
OD280/OD315 of diluted wines        0.504086
Proline                         99166.717355
dtype: float64

In [24]:
import numpy as np
wine['Proline_log'] = np.log(wine.Proline)
print(wine.Proline_log.var())

0.17231366191842018

## Scaling data for feature comparison

In [32]:
wine[['Alcalinity of ash','Ash','Magnesium']].describe()

       Alcalinity of ash         Ash   Magnesium
count         178.000000  178.000000  178.000000
mean           19.494944    2.366517   99.741573
std             3.339564    0.274344   14.282484
min            10.600000    1.360000   70.000000
25%            17.200000    2.210000   88.000000
50%            19.500000    2.360000   98.000000
75%            21.500000    2.557500  107.000000
max            30.000000    3.230000  162.000000

In [33]:
# Import StandardScaler from scikit-learn
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
wine_subset = wine[['Alcalinity of ash','Ash','Magnesium']]
wine_subset_scaled = ss.fit_transform(wine_subset)
wine_subset_scaled[:5]

array([[-1.16959318,  0.23205254,  1.91390522],
       [-2.49084714, -0.82799632,  0.01814502],
       [-0.2687382 ,  1.10933436,  0.08835836],
       [-0.80925118,  0.4879264 ,  0.93091845],
       [ 0.45194578,  1.84040254,  1.28198515]])

In [34]:
from sklearn.neighbors import KNeighborsClassifier

X = wine.drop('Proline', axis =1)
y = wine['Proline']
X_train,X_test, y_train, y_test = train_test_split(X,y)
model = KNeighborsClassifier()
model.fit(X_train, y_train)
model.score(X_test,y_test)

0.022222222222222223

# Feature Engineering

### Encoding categorical variables

In [ ]:
from sklearn.preprocessing import LabelEncoder
hiking = pd.read_json('Downloads/hiking.json')
hiking.info()
enc =LabelEncoder()
hiking['Accessible'].value_counts()

hiking['Accessible_enc'] = enc.fit_transform(hiking.Accessible)
print(hiking[['Accessible','Accessible_enc']])

In [ ]:
from sklearn.preprocessing import OneHotEncoder
category_enc = pd.get_dummies(volunteer['category_desc'])
print(category_enc.head())

enc = OneHotEncoder()
enc_data = pd.DataFrame(enc.fit_transform(category_enc).toarray())

volunteer_new = volunteer_subset.join(enc_data)
volunteer_new.head()

## Engineering numerical features

In [ ]:
## Crate a list of columns to average
run_columns = ['run1', 'run2', 'run3', 'run4', 'run5']
running_times_5k['mean'] = running_times_5k.apply(lambda row: row[run_columns].mean(),axis = 1)
print(running_times_5k)

In [ ]:
## Datetime
volunteer['datetime_converted'] = pd.to_datetime(volunteer['start_date_date'])
# Extract just the month from the converted column
volunteer['start_date_month'] = volunteer['datetime_converted'].apply(lambda row: row.month)

print(volunteer[['start_date_month','datetime_converted']])

## Text Classification

In [ ]:
hiking['Length'] = hiking['Length'].astype('str')

In [ ]:
## Engineering features from strings:Extraction
# Write a pattern to extract numbers and decimals
def return_mileage(length):
    pattern = re.compile(r"\d+\.\d+")
     
    # Search the text for matches
    mile = re.match(pattern, length)
     
    # If a value is returned, use group(0) to return the found value
    if mile is not None:
        return float(mile.group(0))
         
# Apply the function to the Length column and take a look at both columns
hiking["Length_num"] = hiking['Length'].apply(lambda row: return_mileage(row))
print(hiking[["Length", "Length_num"]].head())

In [36]:
## Engineering features from strings:tf/idf
from sklearn.feature_extraction.text import TfidfVectorizer
title_text = volunteer_subset['title']
tfidf_vec = TfidfVectorizer()
text_tfidf = tfidf_vec.fit_transform(title_text)
text_tfidf.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [37]:
## Text classification using tf/idf vectors
text_tfidf.toarray().shape
y = volunteer_subset['category_desc']
X_train,X_test,y_train,y_test = train_test_split(text_tfidf.toarray(), y, stratify = y)

# Fit the Naive bayes model to the train_data
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.6

# Feature Engineering

In [ ]:
volunteer.columns

In [ ]:
to_drop = ["locality", "region", "category_desc", "created_date", "vol_requests"]
volunteer_subset = volunteer.drop(to_drop, axis = 1)
volunteer_subset.head()

In [ ]:
## Using correlation matrix
wine.corr()
to_drop = 'Flavanoids'
wine_subset = wine.drop(to_drop, axis=1)
wine_subset

In [38]:
vocab = {1048: 'web', 278: 'designer', 1017: 'urban'}
 
tfidf_vec = TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
         encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words=None, strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)
 
tfidf_vec.vocabulary_ = {'web': 1048, 'designer': 278, 'urban': 1017}
 
text_tfidf

<617x1089 sparse matrix of type '<class 'numpy.float64'>'
	with 3172 stored elements in Compressed Sparse Row format>

In [39]:
# Exploring text vectors, part 1

def return_weights(vocab, original_vocab, vector, vector_index, top_n):
    zipped = dict(zip(vector[vector_index].indices, vector[vector_index].data))
    
    # Let's transform that zipped dict into a series
    zipped_series = pd.Series({vocab[i]:zipped[i] for i in vector[vector_index].indices})
    
    # Let's sort the series to pull out the top n weighted words
    zipped_index = zipped_series.sort_values(ascending = False)[:top_n].index
    return [original_vocab[i] for i in zipped_index]

print(return_weights(vocab, tfidf_vec.vocabulary_, text_tfidf, vector_index=8, top_n=3))

KeyError: 409

In [40]:
def words_to_filter(vocab, original_vocab, vector, top_n):
    filter_list = []
    for i in range(0, vector.shape[0]):
     
        # Here we'll call the function from the previous exercise, and extend the list we're creating
        filtered = return_weights(vocab, original_vocab, vector, i, top_n)
        filter_list.extend(filtered)
    # Return the list in a set, so we don't get duplicate word indices
    return set(filter_list)
 
# Call the function to get the list of word indices
filtered_words = words_to_filter(vocab, tfidf_vec.vocabulary_, text_tfidf, 3)
 
# By converting filtered_words back to a list, we can use it to filter the columns in the text vector
filtered_text = text_tfidf[:, list(filtered_words)]
 
filtered_text

KeyError: 832

## Dimensionality Reduction

In [19]:
## Using PCA
from sklearn.decomposition import PCA
pca = PCA()

wine_X = wine.drop('Type', axis = 1)

transformed_X = pca.fit_transform(wine_X)

# Look at the percentage of variance explained by the different components
print(pca.explained_variance_ratio_)

[9.98091230e-01 1.73591562e-03 9.49589576e-05 5.02173562e-05
 1.23636847e-05 8.46213034e-06 2.80681456e-06 1.52308053e-06
 1.12783044e-06 7.21415811e-07 3.78060267e-07 2.12013755e-07
 8.25392788e-08]

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
# Training a model with PCA
wine_X_train, wine_X_test, wine_y_train, wine_y_test = train_test_split(transformed_X, y)
knn = KNeighborsClassifier()
knn.fit(wine_X_train, wine_y_train)
knn.score(wine_X_test, wine_y_test)

0.17777777777777778

# Putting it altogether

In [44]:
import pandas as pd
ufo = pd.read_csv('Downloads/ufo_sightings_large.csv')
ufo.head()

,date,city,state,country,type,seconds,length_of_time,desc,recorded,lat,long
0,11/3/2011 19:21,woodville,wi,us,unknown,1209600.0,2 weeks,Red blinking objects similar to airplanes or s...,12/12/2011,44.9530556,-92.291111
1,10/3/2004 19:05,cleveland,oh,us,circle,30.0,30sec.,Many fighter jets flying towards UFO,10/27/2004,41.4994444,-81.695556
2,9/25/2009 21:00,coon rapids,mn,us,cigar,0.0,NaN,Green&#44 red&#44 and blue pulses of light tha...,12/12/2009,45.1200000,-93.287500
3,11/21/2002 05:45,clemmons,nc,us,triangle,300.0,about 5 minutes,It was a large&#44 triangular shaped flying ob...,12/23/2002,36.0213889,-80.382222
4,8/19/2010 12:55,calgary (canada),ab,ca,oval,0.0,2,A white spinning disc in the shape of an oval.,8/24/2010,51.083333,-114.083333

In [43]:
ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4935 entries, 0 to 4934
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            4935 non-null   object
 1   city            4926 non-null   object
 2   state           4516 non-null   object
 3   country         4255 non-null   object
 4   type            4776 non-null   object
 5   seconds         4935 non-null   float64
 6   length_of_time  4792 non-null   object
 7   desc            4932 non-null   object
 8   recorded        4935 non-null   object
 9   lat             4935 non-null   object
 10  long            4935 non-null   float64
dtypes: float64(2), object(9)
memory usage: 424.2+ KB

In [52]:
ufo['date'] = pd.to_datetime(ufo['date'])
print(ufo['date'].dtype)
ufo.info()

datetime64[ns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4935 entries, 0 to 4934
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            4935 non-null   datetime64[ns]
 1   city            4926 non-null   object
 2   state           4516 non-null   object
 3   country         4255 non-null   object
 4   type            4776 non-null   object
 5   seconds         4935 non-null   float64
 6   length_of_time  4792 non-null   object
 7   desc            4932 non-null   object
 8   recorded        4935 non-null   object
 9   lat             4935 non-null   object
 10  long            4935 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(8)
memory usage: 424.2+ KB

In [47]:
## Dropping missing data
print(ufo[['length_of_time', 'state', 'type']].isnull().sum())

length_of_time    143
state             419
type              159
dtype: int64

In [53]:
ufo_no_missing = ufo[ufo['length_of_time'].notnull() & ufo['state'].notnull() & ufo['type'].notnull()]
print(ufo_no_missing.shape)

(4283, 11)

In [57]:
ufo['length_of_time'] = ufo.length_of_time.astype('str')

In [59]:
import re
## Extracting numbers from strings
def return_minutes(time_string):
    pattern = re.compile(r'\d+')
    num = re.match(pattern, time_string)
    if num is not None:
        return int(num.group(0))

ufo['minutes'] = ufo['length_of_time'].apply(return_minutes)

print(ufo[['length_of_time', 'minutes']].head())

    length_of_time  minutes
0          2 weeks      2.0
1           30sec.     30.0
2              nan      NaN
3  about 5 minutes      NaN
4                2      2.0

In [60]:
## Identifying features for standardization
print(ufo[['seconds','minutes']].var())

seconds    3.156735e+10
minutes    8.709933e+02
dtype: float64

In [67]:
import numpy as np
## log normalize seconds column
ufo['seconds_log'] = np.log(ufo['seconds'])
print(ufo['seconds_log'].var())

0.16157636558511937

In [96]:
## Encoding categorical variables
ufo['country_enc'] = ufo['country'].apply(lambda x: 1 if x=='us' else 0)
print(len(ufo['type'].unique()))

# Create a one-hot encoded set of the type values
type_set = pd.get_dummies(ufo['type'])

# Concatenate this set back to the ufo DataFrame
ufo = pd.concat([ufo, type_set], axis =1)

ufo.columns

22

Index(['date', 'city', 'state', 'country', 'type', 'seconds', 'length_of_time',
       'desc', 'recorded', 'lat',
       ...
       'flash', 'formation', 'light', 'other', 'oval', 'rectangle', 'sphere',
       'teardrop', 'triangle', 'unknown'],
      dtype='object', length=226)

In [80]:
## Features from dates

ufo['month'] = ufo['date'].apply(lambda x: x.month)
ufo['year'] = ufo['date'].apply(lambda x: x.year)

print(ufo[['date','month','year']])

                    date  month  year
0    2011-11-03 19:21:00     11  2011
1    2004-10-03 19:05:00     10  2004
2    2009-09-25 21:00:00      9  2009
3    2002-11-21 05:45:00     11  2002
4    2010-08-19 12:55:00      8  2010
...                  ...    ...   ...
4930 2000-07-05 19:30:00      7  2000
4931 2008-03-18 22:00:00      3  2008
4932 2005-06-15 02:30:00      6  2005
4933 1991-11-01 03:00:00     11  1991
4934 2005-12-10 18:00:00     12  2005

[4935 rows x 3 columns]

In [84]:
ufo['desc'] = ufo.desc.astype('str')
ufo['desc'].head()

0    Red blinking objects similar to airplanes or s...
1                 Many fighter jets flying towards UFO
2    Green&#44 red&#44 and blue pulses of light tha...
3    It was a large&#44 triangular shaped flying ob...
4       A white spinning disc in the shape of an oval.
Name: desc, dtype: object

In [83]:
## Text Vectorization
vec = TfidfVectorizer()
desc_tfidf = vec.fit_transform(ufo['desc'])
print(desc_tfidf.shape)

(4935, 6434)

In [85]:
# Check the correlation between the seconds, seconds_log, and minutes columns
print(ufo[['seconds_log','seconds','minutes']].corr())

             seconds_log   seconds   minutes
seconds_log          1.0  1.000000       NaN
seconds              1.0  1.000000 -0.147198
minutes              NaN -0.147198  1.000000

In [105]:
## make a list of columns to drop
to_drop = ['city', 'country', 'date', 'desc', 'lat', 'length_of_time', 'long', 'minutes', 'recorded', 'seconds', 'state']
X = ufo.drop(to_drop, axis = 1)
# Let's also filter some words out of the text vector we created
filtered_words = words_to_filter(vocab, vec.vocabulary_,desc_tfidf,4)

KeyError: 599

In [107]:
## Modeling UFO dataset: part 1
y = 'country_enc'
print(X.columns)

# Split the X and y sets using train_test_split, setting stratify=y
train_X, test_X, train_y, test_y = train_test_split(X, y, stratify = y)

Index(['type', 'seconds_log', 'country_enc', 'changing', 'chevron', 'cigar',
       'circle', 'cone', 'cross', 'cylinder',
       ...
       'flash', 'formation', 'light', 'other', 'oval', 'rectangle', 'sphere',
       'teardrop', 'triangle', 'unknown'],
      dtype='object', length=215)

ValueError: Found input variables with inconsistent numbers of samples: [4935, 11]

In [108]:
# Use the list of filtered words we created to filter the text vector
filtered_text = desc_tfidf[:, list(filtered_words)]
 
# Split the X and y sets using train_test_split, setting stratify=y 
train_X, test_X, train_y, test_y = train_test_split(filtered_text.toarray(), y, stratify=y)
 
# Fit nb to the training sets
nb.fit(train_X,train_y)
 
# Print the score of nb on the test sets
print(nb.score(test_X,test_y))

NameError: name 'filtered_words' is not defined