## User Defined functions

In [1]:
company = 'DataCamp'

In [4]:
object1 = 'data ' + 'analysis ' + 'visualization '
object1

'data analysis visualization '

In [7]:
object2 =  1 * 3
object2

3

In [8]:
object3 = '1' * 3
object3

'111'

In [14]:
## Writing your square function
def square():
    new_value = 4 ** 2
    return new_value

In [17]:
def shout():
    shout_word = 'Congratulations' + '!!!'
    print(shout_word)

shout()

Congratulations!!!

In [19]:
## Single parameter functions
def shout(word):
    shout_word = word + '!!!'
    print(shout_word)
shout('congratulations')

congratulations!!!

In [2]:
## Functions that return single values
def shout(word):
    shout_word = word + '!!!'
    return shout_word
yell = shout('congratulations')
print(yell)

congratulations!!!

In [3]:
## Functions with multiple parameters

def shout(word1, word2):
    
    shout1 = word1 + '!!!'
    shout2 = word2 + '!!!'
    
    new_shout = shout1 + shout2
    
    return new_shout
yell = shout('congratulations', 'you')
print(yell)

congratulations!!!you!!!

In [6]:
nums = (3,4,6)
num1, num2, num3 = nums

even_nums = (2, num1, num2)
even_nums

(2, 3, 4)

In [8]:
## Functions that return multiple values
def shout_all(word1, word2):
    shout1 = word1 + '!!!'
    shout2 = word2 + '!!!'
    
    shout_words = (shout1, shout2)
    
    return shout_words

yell1, yell2 = shout_all('congratulations', 'you')

print(yell1, yell2)

congratulations!!! you!!!

In [1]:
## Bringing it altogether
import pandas as pd

df = pd.read_csv('Downloads/tweets.csv')

langs_count ={}

col = df['lang']

for entry in col:
    if entry in langs_count.keys():
        langs_count[entry] += 1
    else:
        langs_count[entry] = 1
        
print(langs_count)

{'en': 97, 'et': 1, 'und': 2}

tweets_df = pd.read_csv('Downloads/tweets.csv')
tweets_df.columns

In [4]:
import pandas as pd
tweets_df = pd.read_csv('Downloads/tweets.csv')


# Define count_entries()
def count_entries(df, col_name):
    """Return a dictionary with counts of 
    occurrences as value for each key."""

    # Initialize an empty dictionary: langs_count
    langs_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]

    # Iterate over lang column in DataFrame
    for entry in col:

        # If the language is in langs_count, add 1
        if entry in langs_count.keys():
            langs_count[entry] += 1
        # Else add the language to langs_count, set the value to 1
        else:
            langs_count[entry] = 1

    # Return the langs_count dictionary
    return langs_count

# Call count_entries(): result
result = count_entries(tweets_df, 'lang')

# Print the result
print(result)

{'en': 97, 'et': 1, 'und': 2}

# Default arguments, variable-length arguments and scope

## Scope and user-defined functions

In [29]:
team = 'teen titans'

def change_team():
     global team
     
     team = 'justice league'
        
print(team)
change_team()

teen titans

In [28]:
print(team)

justice league

# Nested Functions

In [30]:
def three_shouts(word1, word2, word3):
    
    def inner(word):
        
        return word + '!!!'
    
    return (inner(word1), inner(word2), inner(word3))

print(three_shouts('a','b','c'))

('a!!!', 'b!!!', 'c!!!')

## Nested Functions II

In [31]:
def echo(n):
    
    def inner_echo(word1):
        
        echo_word = word1 * n
        return echo_word
    return inner_echo

twice = echo(2)
thrice = echo(3)

print(twice('hello'), thrice('hello'))

hellohello hellohellohello

## The keyword nonlocal and nested functions

In [4]:
def echo_shout(word):
    echo_word = word * 2
    print(echo_word)
    
    # Defining inner function
    def shout(word):
        nonlocal echo_word
        
        echo_word = echo_word + '!!!'
        
    shout()
    print(echo_word)
    
echo_shout('hello')

hellohello

TypeError: echo_shout.<locals>.shout() missing 1 required positional argument: 'word'

In [5]:
# Define echo_shout()
def echo_shout(word):
    """Change the value of a nonlocal variable"""
    
    # Concatenate word with itself: echo_word
    echo_word = word*2
    
    # Print echo_word
    print(echo_word)
    
    # Define inner function shout()
    def shout():
        """Alter a variable in the enclosing scope"""
        
        # Use echo_word in nonlocal scope
        nonlocal echo_word
        
        # Change echo_word to echo_word concatenated with '!!!'
        echo_word = echo_word + '!!!'
    
    # Call function shout()
    shout()
    
    # Print echo_word
    print(echo_word)

# Call function echo_shout() with argument 'hello'
echo_shout('hello')

hellohello
hellohello!!!

## Flexible and default arguments

In [6]:
##Define shout_echo
def shout_echo(word1, echo=1):
    echo_word = word1 * echo
    
    shout_word = echo_word + '!!!'
    
    return shout_word

no_echo = shout_echo('Hey')
with_echo = shout_echo('Hey', echo = 5)

print(no_echo)
print(with_echo)

Hey!!!
HeyHeyHeyHeyHey!!!

## Functions with multiple default arguments

In [7]:
def shout_echo(word1, echo = 1, intense = False):
    echo_word = word1 * echo
    
    if intense is True:
        echo_word_new = echo_word.upper() + '!!!'
    else:
        echo_word_new = echo_word + '!!!'
    return echo_word_new

with_big_echo = shout_echo("Hey", echo =5, intense = True)
without_big_echo = shout_echo("Hey", echo = 2, intense = False)

print(with_big_echo)
print(without_big_echo)

HEYHEYHEYHEYHEY!!!
HeyHey!!!

In [10]:
## Functions with varaible length arguments (*args)
def gibberish(*args):
    
    hodgepodge = ""
    
    for word in args:
        hodgepodge += word
        
    return hodgepodge

one_word = gibberish("Luke")
more_words = gibberish("Luke", " leia",  " han", " obi", " darth")

print(one_word)
print(more_words)

Luke
Luke leia han obi darth

In [17]:
## Functions with varaible length keyword arguments (*kwargs)
def report_status(**kwargs):
    
    print("\nBEGIN: REPORT\n")
    
    for key, value in kwargs.items():
        print(key + ':'+ value)
    print('\nEND REPORT')
report_status(name='luke', affiliation ='jedi', status = 'missing')
col
report_status(name="anakin", affiliation="sith lord", status="deceased")

BEGIN: REPORT

name:luke
affiliation:jedi
status:missing

END REPORT

BEGIN: REPORT

name:anakin
affiliation:sith lord
status:deceased

END REPORT

In [11]:
def count_entries(df, col_name = 'lang'):
    cols_count = {}
    col = df[col_name]
    
    for entry in col:
        if entry in cols_count.keys():
            cols_count[entry] =+ 1
        else:
            cols_count[entry] = 1
        return cols_count

result1 = count_entries(tweets_df)
print(result1)

result2 = count_entries(tweets_df, col_name = 'source')
print(result2)

{'en': 1}
{'<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 1}

In [17]:
# Define count_entries()
def count_entries(df, *args):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    #Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Iterate over column names in args
    for col_name in args:
    
        # Extract column from DataFrame: col
        col = df[col_name]
    
        # Iterate over the column in DataFrame
        for entry in col:
    
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
    
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(tweets_df, 'lang')

# Call count_entries(): result2
result2 = count_entries(tweets_df, 'lang', 'source')

# Print result1 and result2
print(result1)
print(result2)

{'en': 97, 'et': 1, 'und': 2}
{'en': 97, 'et': 1, 'und': 2, '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24, '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1, '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26, '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33, '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2, '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2, '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6, '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2, '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2, '<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1, '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1}

# Lambda Functions and Error Handling

In [23]:
# Define echo_word as a lambda function: echo_word
echo_word = (lambda word1, echo: word1 * echo)

# Call echo_word: result
result = echo_word('hey', 5)

# Print result
print(result)

heyheyheyheyhey

In [25]:
echo_word = (lambda word1, echo: word1 * echo)

result = echo_word('hey  ', 50)

result

'hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  hey  '

In [27]:
# Map and lambda functions

nums = [2,4,4,5,6,6,7,8]

result = map(lambda a: a ** 2, nums)

print(result)

<map object at 0x0000026E79D3F280>

In [29]:
spells = ['protego', 'accio', 'expecto patronum', 'legilimens']

result = map(lambda item: item + ' !!!!!', spells)

result_list = list(result)

print(result_list)

['protego !!!!!', 'accio !!!!!', 'expecto patronum !!!!!', 'legilimens !!!!!']

In [30]:
## Filterfellowship and Lambda 

fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

result = filter(lambda item: len(item) > 6, fellowship)

result_list = list(result)

result_list

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']

In [34]:
from functools import reduce

stark = ['robb', ' sansa', ' arya', ' brandon', ' rickon']

result = reduce(lambda item1, item2: item1 + item2, stark)
result

'robb sansa arya brandon rickon'

In [36]:
# Error Handling with Try except

def shout_echo(word1, echo = 5):
    
    echo_word = ' '
    shout_words = ' '
    
    try:
        echo_word = word1 * echo
        
        shout_words = echo_word + '!!!!!'
        
    except:
        
        print('Word1 is a string and echo must be a integer')
    
    return shout_words

shout_echo('aragorn', 5)

'aragornaragornaragornaragornaragorn!!!!!'

In [42]:
## Error Handling by Raise

def shout_echo(word1, echo = 1):
    
    if echo < 0:
        raise ValueError('Echo must be greater than or equal to zero')
    echo_word = word1 * echo
    shout_word = echo_word + ' !!!!'
        
    return shout_word

result = shout_echo('Gandalf', 6)
result

'GandalfGandalfGandalfGandalfGandalfGandalf !!!!'

In [43]:
## Bringing it altogether 1

result = (lambda x: x[0:2]== 'RT', tweets_df['text'])

result_list = list(result)

for tweet in result_list:
    print(tweet)

<function <lambda> at 0x0000026E79DC5D00>
0     RT @bpolitics: .@krollbondrating's Christopher...
1     RT @HeidiAlpine: @dmartosko Cruz video found.....
2     Njihuni me Zonjën Trump !!! | Ekskluzive https...
3     Your an idiot she shouldn't have tried to grab...
4     RT @AlanLohner: The anti-American D.C. elites ...
                            ...
95    RT @claytoncubitt: Stop asking Bernie supporte...
96    Kasich is gonna fuck this up for Ted Cruz  htt...
97    RT @akaMaude13: Seriously can't make this up. ...
98    Kasich is gonna fuck this up for Ted Cruz  htt...
99    @marklevinshow try reporting this truth. https...
Name: text, Length: 100, dtype: object

In [45]:
## Brining it altogether 2

def count_entries(df, col_name = 'lang'):
    
    cols_count = { }
    
    try:
        col = df[col_name]
        for entry in col:
            
            if entry in cols_count.keys():
                cols_count[entry] += 1
            else:
                cols_count[entry] = 1
                
        return cols_count
    
    except:
        print('The DataFrame does not have a ' + col_name + ' column.')
        
result = count_entries(tweets_df, 'lang1')
result

The DataFrame does not have a lang1 column.

In [50]:
## Bringing it altogether 3


def count_entries(df, col_name = 'lang'):
    if col_name not in df.columns:
        raise ValueError('The DataFrame does not have a ' + col_name + ' column.')
    
    cols_count = { }
    
    col = df[col_name]
    
    for entry in col:
            
        if entry in cols_count.keys():
            cols_count[entry] += 1
        else:
            cols_count[entry] = 1
                
    return cols_count
        
result = count_entries(tweets_df, 'lang2')
result

ValueError: The DataFrame does not have a lang2 column.